{%- load_yaml as base_defaults %}

Debian:
  pkgs:
  - kibana
  service: kibana
  version: '1.4.4'

RedHat:
  pkgs:
  - kibana
  service: kibana
  version: '1.4.4'

default:
  version: 5

{%- endload %}

{%- set kibana = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('kibana:server'), base='default') %}