{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - default-jre-headless
  - elasticsearch
  curator_pkgs:
  - elasticsearch-curator
  - cron
  service: elasticsearch
  version: '1.4.4'
  elasticsearch_user: elasticsearch
  elasticsearch_group: elasticsearch
  directorylist:
  - /usr/share/elasticsearch
  - /var/log/elasticsearch
  - /var/lib/elasticsearch
  - /etc/elasticsearch
  filelist:
  - /etc/default/elasticsearch

RedHat:
  pkgs:
  - java-11-openjdk
  - java-11-openjdk-devel
  - elasticsearch
  curator_pkgs:
  - elasticsearch-curator
  service: elasticsearch
  version: '1.4.4'
  elasticsearch_user: elasticsearch
  elasticsearch_group: elasticsearch
  directorylist:
  - /usr/share/elasticsearch
  - /var/log/elasticsearch
  - /var/lib/elasticsearch
  - /etc/elasticsearch
  filelist:
  - /etc/default/elasticsearch

default:
  version: 5

{%- endload %}

{%- set elasticsearch = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('elasticsearch'), base='default') %}
