{%- load_yaml as base_defaults %}

Debian:
  pkgs:
  - apache2
  - python-letsencrypt-apache
  apache2modules:
  - proxy
  - proxy_http
  - proxy_ajp
  - rewrite
  - deflate
  - headers
  - proxy_balancer
  - proxy_connect
  - proxy_html
  webservice: bastion
  port: 5601
  proxy_port: 80

RedHat:
  pkgs:
  - kibana
  apache2modules:
  - proxy
  - proxy_http
  - proxy_ajp
  - rewrite
  - deflate
  - headers
  - proxy_balancer
  - proxy_connect
  - proxy_html  
  webservice: bastion
  port: 5601
  proxy_port: 80

default:
  version: 5

{%- endload %}

{%- set apache2bastion = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('apache2bastion'), base='default') %}