{%- load_yaml as base_defaults %}

Debian:
  pkgs:
  - openjdk-8-jre
  - logstash
  service: logstash
  version: '5'
  port: 5601
  server_name: logstash
  server_host: "0.0.0.0"
  elasticsearch_hosts: "http://localhost:9200"
  file_collection_logs:
  - /var/log/syslog
  - /var/log/auth.log
  applied_filters:
  - syslog

RedHat:
  pkgs:
  - java-1.8.0-openjdk
  - logstash
  service: logstash
  version: '5'
  port: 5601
  server_name: logstash
  server_host: "0.0.0.0"
  elasticsearch_hosts: "http://localhost:9200"
  file_collection_logs:
  - /var/log/syslog
  - /var/log/auth.log
  applied_filters:
  - syslog

default:
  version: 5

{%- endload %}

{%- set logstash = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('logstash'), base='default') %}

